# Node.js
node_modules/

# TypeScript build output
build/

# TypeScript declaration files
*.d.ts

# IDE-specific files
.vscode/
.idea/

# macOS files
.DS_Store

# Prisma Migration Lock
migration_lock.toml

# Enviorment Variables
.env